.sidebar {
    display: flex;
}

.sidebar__sidebar {
    width: 30%;
}

.sidebar__main {
    /* Take the remaining width */
    flex: 1;

    /* Make it scrollable */
    overflow: auto;
}

.navbar-expand-lg .navbar-nav>li>a {
    color:white;
}

.overlay-desc {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-desc > h1 {
    color: white;
    font-size: 3em;    
}

.card-img-overlay > h4{
    color: azure;
}